---
layout: layout.liquid
title: Interstellar explorer
---

<div class="bio">
    <p>I am Kenny jr, the son of the great Kenny Umobi. He is the person that pioneered a way for exploring distant galaxies. 
    I was tasked by my father to lead a team of 10 to visit to of the most dangerous planets in galaxy IV. They are the Diamond Planet and the Snowing planet. 
    The links below will take you to my journies and struggles interacting with the conditions of these planets and also what we got.
    </p>
</div>
<img alt="pine" src="/images/pine.png" width="50" />
<div class="blogs">
    <a = href="/blog1/" title="Welcome to the Diamond planet">Diamond Planet</a>
    <a = href="/blog2/" title="Welcome to the Snowing planet">Snowing Planet</a>
</div>